@import "tailwindcss";

@theme inline {
  --font-pretendard: var(--font-CSSpretendard);
  --font-rix: var(--font-CSSrix)
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-tablet: 450px;
  --breakpoint-phone: 350px;
}

html, body {
  width: 100%;
  height: 100%;
}

*::-webkit-scrollbar{
  display:none;
}

* {
  color: white;
}